 /* .nav {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}  */

/* .page {
  max-width: 500px;
  margin: auto;
  text-align: center;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 8px;
}

.form button {
  padding: 10px;
  font-weight: bold;
}


.page {
  max-width: 520px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.buttons button {
  padding: 8px 18px;
  font-size: 14px;
  background-color: rgb(23, 87, 206);
  border-radius: 15px;
  cursor: pointer;
}

.counter {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  padding: 6px 12px;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #e46be4;
  border-radius: 15px;
}

.nav-link:active {
  background-color: #ccc;
}


/* .card {
  width: 300px;         
  height: 200px;        
  perspective: 1000px;
  cursor: pointer;
  margin: auto;         
} */

/* .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-back {
  transform: rotateY(180deg);
}

/* ---------------- Responsive for mobile ---------------- */
/* @media (max-width: 600px) {
  .card {
    width: 50% !important;     
    height: 160px !important;  
  }


} */
